.navbar-brand {
    margin: auto;
  }
  .navbar {
    position: relative;
    z-index: 10;
    background-color: #131313;
  }
  .nav-item {
    margin: 0 10px;
  }
  .header {
    background-color: #1e1e1e;
    padding: 1em 0;
    text-align: center;
  }
  .card {
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: auto; 
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
  }
  .card-body > div {
    margin-bottom: auto;
  }
  .btn-reservar {
    align-self: flex-end;
  }
  .carousel-inner, .carousel-item img {
    position: relative;
    width: 100%;
    height: auto;
  }
  .carousel-item {
    position: relative;
    z-index: 1;
  }
  footer {
    background-color: #1e1e1e;
    color: white;
    padding: 2em 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
  }

  .fecha-clases {
    margin-bottom: 2em;
  }

  .profesor-card {
    width: 288px;
    height: 430px;
    margin: 10px;
  }
  
  .profesor-card img {
    height: 180px;
    object-fit: cover;
  }
  
  .slick-slide {
    margin: 0 10px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }