#ofertasSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#ofertasContainer {
    height: auto;
    width: 70vw;
    margin-top: 10vh;
}

.gris {
    background-color: #D9D9D9;
    padding: 20px 10px;
    margin-top: 5vh;
    border-radius: 1% / 20%;
    box-shadow: 6px 7px 5px -4px rgba(0, 0, 0, 0.47);
}

.gris p {
    margin-bottom: 0; /* Soluciona el problema del espacio extra */
}

/* Contenedor de las cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaciado reducido entre cards */
    justify-content: space-between; /* Espacio uniforme */
    max-width: 70vw;
    margin: 20px auto 0 auto; /* Centrar con margen superior */
}

/* Card */
.card {
    position: relative;
    width: 100%; /* Tamaño adaptable */
    max-width: 260px; /* Aumentado para hacerlas más anchas */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1.2rem;
    margin: 10px;
}

.card p {
    font-size: 0.9rem;
    margin: 10px;
}

.card button {
    display: block;
    margin: 10px auto 15px auto;
    padding: 8px 16px;
    background-color: #cf6135;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: #b44800;
}

/* Sticker */
.sticker {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 5px;
}
