*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

h2{
    font-size: 40px;
}

p{
    font-family: 'Inter';
}

#fakesection{
    margin-top: 10vh;
    margin: auto;
    max-width: 80vw;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

header #logo{
        width: 10rem;
        margin: 0 20px;
}
nav {
    height: 10vh;
    display: flex;
    justify-content: space-between; /* Separa el h1 a la izquierda y el ul al centro/derecha */
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 20px; /* Ajuste de espacio a los lados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav h1 {
    margin: 0; /* Eliminar márgenes */
}

nav li a {
    text-decoration: none;
    color: #c44029;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.Log-in-btn {
    padding: 10px 20px;
    background-color: white; /* Fondo blanco */
    color: #ff8c00; /* Texto naranja */
    border: 1px solid #ff8c00; /* Borde naranja */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.sign-in-btn {
    padding: 10px 20px;
    background-color: #ff8c00; /* Naranja */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
/* Hero */
/*//////////////////////////////////////////////////////////////////////////////*/

#hero {
    position: relative;
    height: 90vh;
    background-image: url('/assets/BG-hero.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero h2{
    margin: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.hero-content {
    position: relative;
    color: rgb(231, 231, 231);
    font-weight: bold;
    z-index: 1;
    margin: 0px 5rem;
}

.hero-content label{
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.hero-content h2{
    text-align: center;
}

.hero-form {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos salten a la siguiente línea si no hay espacio */
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-form .form-group {
    flex: 1; /* Permitir que los form groups ocupen espacio disponible */
    min-width: 150px; /* Asegurar un ancho mínimo para los selectores */
}

#lupita{
    min-width: 40px;
    max-width: 45px;
}

.hero-form input,
.hero-form select {
    display: block;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%; 
}
    
input::placeholder {
    color: #222222; 
    opacity: 1; 
}

.buscar-btn {
    padding: 10px 20px;
    background-color: #ff8c00; /* Naranja */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buscar-btn:hover {
    background-color: #e67e00; /* Más oscuro al hacer hover */
}

/* ofertas */

/*//////////////////////////////////////////////////////////////////////////////*/

#ofertas {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ofertas-content {
    width: 70vw;
    margin: 2rem 0%;
}

.ofertas-content h2, .ofertas-content p, .gallery h2, .gallery p {
    margin: 10px 0;
}

.ofertas-content h2, .gallery h2 {
    font-weight: 400;
}


.ofertas-content p, .gallery p {
    background-color: white;
    font-size: 1.2rem;
}

.ofertas-container {
    position: relative; /* Permite posicionar la capa superpuesta */
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos salten a la siguiente línea si no hay espacio */
    gap: 20px;
    align-items: center;
    background-image: url('/assets/ofertas-BG.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}

.overlay-ofertas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    border-radius: 10px; /* Mantener el borde redondeado como el contenedor */
    pointer-events: none; /* Permite interactuar con los elementos debajo */
    z-index: 0; /* Asegura que el overlay esté debajo del contenido */
}

.ofertas-container button {
    position: relative; /* Asegura que el botón esté por encima del overlay */
    z-index: 1;
    padding: 10px 20px;
    background-color: #ff8c00; /* Naranja */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/*destinos-de-moda*/
/*////////////////////////////////////////////////////////////////////////////////////////*/

#destinos-de-moda {
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.gallery {
    flex-direction: column;
    width: 70vw;
    margin: 2rem;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre las filas */
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre las filas */
}

.row {
    display: flex;
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centrar las imágenes horizontalmente */
}

.image-container {
    position: relative;
    flex: 1;
    width: 100%;
}

.image-container a { /* Asegura que el enlace ocupe todo el contenedor */
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    max-height: 250px; /* Máximo de 250px de alto */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor */
    border-radius: 5px;
    transition: 0.3s linear;
}

.image-container:hover img {
    filter: brightness(0.5);
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 5px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Footer */

/*//////////////////////////////////////////////////////////////////////////////*/

footer {
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: auto; /* Para que el footer esté al final del contenido */
}

footer .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
}

footer .column {
    flex: 1;
    padding: 0 20px;
}

footer h3 {
    font-size: 1.2rem;
    color: #1a1a1a;
    margin-bottom: 10px;
    font-weight: bold;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    color: #1a1a1a;
    margin-bottom: 5px;
}

footer ul li a {
    color: #1a1a1a;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}