#Fomrulario{
    width: 300px;
    background-color: blanchedalmond;
    height: 200px;
    margin: auto;
    padding: 15px;
}
label{
    width: 200px;
    display: inline-block;
}
input{
    width: 200px;
    display: inline-block;
}
button{
    width: 200px;
    display: inline-block;
}

#errorNombre,#errorContraseña{
    color: red;
    visibility: hidden;
}